.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    // border: 1px solid #BEC2C6;
    outline: 1px solid #BEC2C6;
    margin-bottom: 25px;

    .header {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        border-bottom: 1px solid #BEC2C6;
    }

    .content {
        position: relative;
        flex-grow: 1;

        video {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            &:focus {
                outline: none;
            }
        }

        .missing-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 50px;
                margin-bottom: 15px;
            }
        }
    }

    .not-found {
        background: #BEC2C6;
        color: white;
    }
}
