<div class="container">
    <div class="header">
        <span>{{ video.title ? video.title : 'No title' }}</span>
        <span>{{ video.views ? (video.views | shortNumber) : '0' }} views</span>
    </div>
    <div class="content" [ngClass]="{'not-found': !video.url}">
        <ng-container *ngIf="!video.source || video.source !== 'url'; else sourceTemplate">
            <iframe
                width="100%"
                height="100%"
                *ngIf="video.url; else videoNotFound"
                [src]="getUrl(video.url)" 
                frameborder="0"
                allowfullscreen>
            </iframe>
        </ng-container>
        <ng-template #sourceTemplate>
            <video *ngIf="video.url; else videoNotFound" controls="controls">
                <source src="{{ video.url }}">
            </video>
        </ng-template>
    </div>
</div>

<ng-template #videoNotFound>
    <div class="missing-data">
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/no-videography-752312.png" alt="">
        <span>
            Data is missing
        </span>
    </div>
</ng-template>
